Repository NicDom/overloadlib: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, flake8, isort

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black  --config pyproject.toml
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: poetry run check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: poetry run check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: poetry run check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: poetry run end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
        require_serial: true
      - id: isort
        name: isort
        entry: poetry run isort --settings-path pyproject.toml
        language: system
        types: [python]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: poetry run trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.28.1
    hooks:
    - id: pyupgrade

:hammer: Added features to workflow
  .cookiecutter.json
  .darglint
  .editorconfig
  .flake8
  .github/.stale.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labels.yml
  .github/workflows/constraints.txt
  .github/workflows/greetings.yml
  .github/workflows/labeler.yml
  .github/workflows/tests.yml
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yml
  LICENSE.rst
  None
  README.md
  README.rst
  SECURITY.md
  docs/conf.py
  docs/reference.rst
  docs/requirements.txt
  noxfile.py
  poetry.lock
  pyproject.toml
  src/overloadlib/__init__.py
  src/overloadlib/__main__.py
  tests/__init__.py
  tests/test_main.py
Due: black, check-toml, check-yaml, flake8, isort

:white_check_mark: Added test for future feature override
  tests/test_overloadlib.py
Due: black, flake8, isort

:sparkles: Add 'override' feature
  .vscode/settings.json
  src/overloadlib/__main__.py
  src/overloadlib/overloadlib.py
  tests/test_overloadlib.py
Due: black, flake8, isort

:memo: Add example to docstring
  src/overloadlib/overloadlib.py
Due: black, flake8, isort

:memo: Update README
  README.md
  README.rst
  src/overloadlib/overloadlib.py
Due: black, flake8, isort

:bookmark: New minor release
  pyproject.toml
Due: check-toml

:art: Fix to pass mypy test
  noxfile.py
  src/overloadlib/__init__.py
  src/overloadlib/__main__.py
  src/overloadlib/overloadlib.py
  tests/test_main.py
  tests/test_overloadlib.py
Due: black, flake8, isort

:memo: Add 'usage' to README.rst
  README.rst
  docs/usage.rst
  pyproject.toml
Due: check-toml

:memo: Fixing bugs in documentation
  .vscode/settings.json
  README.rst
  docs/usage.rst
Due: none

:bookmark: Patch version
  pyproject.toml
Due: check-toml

:rotating_light: Pre-commit failed
  README.rst
  docs/usage.rst
Due: none

:building_construction: Restructure 'NamespaceKey'
  pyproject.toml
  src/overloadlib/overloadlib.py
Due: black, check-toml, flake8, isort

:sparkles: Add '<Function>.add' decorator
  src/overloadlib/overloadlib.py
Due: black, flake8, isort

:white_check_mark: Add test for '<Function>.add' decorator
  tests/test_overloadlib.py
Due: black, flake8, isort

:label: Fix problems with mypy
  src/overloadlib/overloadlib.py
  tests/test_overloadlib.py
Due: black, flake8, isort

:bug: Fix IndexError at call 'Function' with wrong arg
  src/overloadlib/overloadlib.py
Due: black, flake8, isort

:white_check_mark: Add test for IndexError fix
  tests/test_overloadlib.py
Due: black, flake8, isort

:bulb: Add header for overloading section
  src/overloadlib/overloadlib.py
Due: black, flake8, isort

:children_crossing: import essential functions in __init__
  src/overloadlib/__init__.py
Due: black, flake8, isort

:bug: Fix: Having no Function args raised error
  src/overloadlib/overloadlib.py
Due: black, flake8, isort

:white_check_mark: test_add now adds twice the same name
  tests/test_overloadlib.py
Due: black, flake8, isort

:bug: Fix: Error when printing 'no args function'
  src/overloadlib/overloadlib.py
Due: black, flake8, isort

:white_check_mark: add test for function with no args
  tests/test_overloadlib.py
Due: black, flake8, isort

:white_check_mark: add test for METHOD with no args
  tests/test_overloadlib.py
Due: black, flake8, isort

:rotating light: Fix mypy errors
  src/overloadlib/overloadlib.py
Due: black, flake8, isort

:rotating light: Fix mypy errors
  tests/test_overloadlib.py
Due: black, flake8, isort

:memo: Add example for '@<Function>.add' to Features
  README.md
  README.rst
Due: none

:sparkles: Override respects now all 'versions' of a Function
  src/overloadlib/overloadlib.py
Due: black, flake8, isort

:white_check_mark: Add test for mixing 'overloading' decorators
  tests/test_overloadlib.py
Due: black, flake8, isort

:memo: Add section for '@<func>.add' in Usage
  README.md
  docs/usage.rst
Due: none

:coffin: remove old code
  src/overloadlib/overloadlib.py
Due: black, flake8, isort

:rotating_light: fix mypy [no-redef]
  tests/test_overloadlib.py
Due: black, flake8, isort

:rotating_light: fixing issue with mypy[no-redef]
  src/overloadlib/overloadlib.py
  tests/test_overloadlib.py
Due: black, flake8, isort

:bookmark: minor version due to '@<Function>.add'
  pyproject.toml
Due: check-toml
